{% extends "base.html" %}
{% load render_form %}
{% load staticfiles%}

{% block css_top %}
<link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.12.1.custom/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'jquery/tags-input/jquery.tagsinput.css' %}">
{% endblock css_top%}

{% block content %}
<h1>Ask a question</h1>
<form id="question_form" action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for error in form.title.errors %}
        <p style="color: red">{{ error }}</p>
    {% endfor %}
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="{{ form.title.id_for_label }}">{{form.title.label|title}}</label>
        <div class="col-sm-10">
            <input class="form-control" id="{{ form.title.id_for_label }}"
                   name="{{ form.title.html_name }}"
                   value="{{ form.title.value|default_if_none:'' }}" type="{{form.title|fieldtype}}" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="{{ form.text.id_for_label }}">{{form.text.label|title}}</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="{{ form.text.id_for_label }}"
                   name="{{ form.text.html_name }}"
                   value="{{ form.text.value|default_if_none:'' }}" >
            </textarea>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="tags_id">Tags</label>
        <div class="col-sm-10">
           <input name="tags" id="tags" value="foo,bar,baz" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Ask</button>
        </div>
    </div>
</form>
{% endblock %}

{% block script_bottom %}
<script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'jquery/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
<script src="{% static 'jquery/tags-input/jquery.tagsinput.js'%}"></script>
<script>
    $(function() {

     $('#tags').tagsInput();

    });


</script>
{% endblock %}

{% block aside%}
 <h1>Trending</h1>
{% endblock %}