{% extends "base.html" %}

{% block content %}
<h2>{{question.title}}</h2>
<table class="table">
  <tbody>
    <tr>
        <td>
            <a class="mx-2" href="{% url 'vote_question' question.slug 'up' %}">+</a>
            <span>{{question.rating}}</span>
            <a class="mx-2"  href="{% url 'vote_question' question.slug 'down' %}">-</a></td>

      <td>
          <div class="mb-2">{{question.text}}</div>
          <div>
           {% for tag in question.tags.all %}
           <span class="mx-2 p-1 border">{{tag.title}}</span>
           {% endfor%}
           <span> <img src="{{ MEDIA_URL }}{{question.author.avatar}}" alt="avatar" width="30" height="30" alt="{{question.author.username}}">
                {{question.author.username}}</span>
          </div>
      </td>
    </tr>

    {% for answer in answers %}
    <tr>
      <td>
          <a class="mx-2" href="{% url 'vote_answer' question.slug answer.id 'up' %}">+</a>
            <span>{{answer.rating}}</span>
          <a class="mx-2"  href="{% url 'vote_answer' question.slug answer.id 'down' %}">-</a></td>
      </td>
      <td>
          <div class="mb-2">{{answer.text}}</div>
          <div>
           <span> <img src="{{ MEDIA_URL }}{{answer.author.avatar}}" alt="avatar" width="30" height="30" alt="{{answer.author.username}}">
                {{question.author.username}}</span>
          </div>
              {% if answer.is_correct %}
                 <div><strong>Ответ верный</strong></div>
              {% elif not question.has_answer %}
                  <div class="mt-2"><a href="{% url 'mark_answer' question.slug answer.id%}">Отметить ответ как правильный</a></div>
              {% endif%}

      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if answers.has_previous %}
            <a href="?page={{ answers.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ answers.number }} of {{ answers.paginator.num_pages }}.
        </span>

        {% if answers.has_next %}
            <a href="?page={{ answers.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% if user.is_authenticated%}
<form id="answer_form" action="." method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for error in form.title.errors %}
        <p style="color: red">{{ error }}</p>
    {% endfor %}
    <div class="form-group">
        <label class="col-sm-2 col-form-label" for="{{ form.text.id_for_label }}">Your answer</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="{{ form.text.id_for_label }}"
                   name="{{ form.text.html_name }}"
                   value="{{ form.text.value|default_if_none:'' }}" >
            </textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
{% endif %}
{% endblock %}

{% block aside%}
 {% if user.is_authenticated %}
 <a class="btn btn-outline-primary" href="{% url 'add_question'%}">Ask!</a>
 {%endif%}
{% endblock %}